body{
    margin:0px;
    background-image:linear-gradient(orange, rgb(189, 147, 147),rgb(86, 235, 86),rgb(123, 123, 226));
}
h2{
    color:rgb(4, 101, 114);
}
.section{
    display:flex;
}
/*common width for all two part section*/
.part-of-full-width{
    width:50%;
    padding: 50PX;
    
}
/*common width for all two part section img*/
.part-of-full-width img{
    width:80%;
}
/*first-header section*/
.first-header-part{
    border-left:5px solid rgb(243, 210, 210);
    border-radius:5px;
    font-size:50px;
    padding-left:15px;
}

/*common different color*/
.white{
    color:white;
}

/*for all link*/
.link-button{
    text-decoration:none;
    background-image:linear-gradient(rgb(0, 255, 221), red);
    padding:10px 30px;
    color:white;
    border-radius:5px;
    font-size:larger;
    

}


/*these code for section two*/

.second{margin-left:100px;
margin-right:100px;}

.middle-heading{
    text-align: center;
    font-size:30px;
    
}

.adjust-div{
    width:80%;
    padding:15px;
    border-radius: 10px;
}
.color-one{
    background-image: linear-gradient(rgb(248, 241, 241),rgb(172, 73, 7));
}

.color-two{
    background-image: linear-gradient(rgb(239, 239, 247),rgb(6, 120, 158));
    margin:0px 15px;
}

.color-three{
    background-image:linear-gradient(rgb(237, 248, 237) ,rgb(172, 73, 7));  
}
/*for image of second section*/
.adjust-div img{
    width:100px;
}
/*extra section*/
.extra{
    background-image:linear-gradient(lightblue,yellow);
   
}
.extra img{
    border-radius:20px;
    width:200px;
    margin-left:100px;
   
}
.extra-two{
    margin:100px 100px 0px 0px;
}
/*footer*/
footer{
    background-color:rgb(24, 23, 23);
    padding:20px;
   
}

.footer-para{display:block;
    text-align: center;
    font-size: 20px;
    color: lightblue;
}
.footer-different-color{color:lawngreen;}
